{{!-- This is the template for Handlebars to render onto --}}

<h2>Burger choices:</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <h3>{{this.id}}{{this.burger_name}}</h3> <button class="devour" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Devour it!</button>
    {{/unless}}
    {{/each}}
</ul>


<h2>Burgers devoured:</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <h3>{{this.id}}{{this.burger_name}}</h3>
    {{/if}}
    {{/each}}
</ul>



<h2>Enter a burger you would like to eat!</h2>
{{!-- <form class="create-form">

    <div class="form-group">
        <label for="brg">Burger:</label>
        <input type="text" id="brg" name="type">
    </div>
</form> --}}

{{!-- This is the button for the user to submit their input into the database --}}
<div>
    <form action="/api/burgers" method="POST">
        <textarea type="text" name="burgers"></textarea>


        <button type="submit">Submit</button>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function() {
        $(".devour").on("click", function(event) {
            var id = $(this).data("id");
            var newDevoured = $(this).data("devoured");

            var nowDevoured = {
                devoured: newDevoured
            };

            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: nowDevoured
            }).then(function() {
                console.log("changed devoured to", newDevoured);

                location.reload();
            });
        });
});
</script>